/* font */

@font-face {
    font-family: 'ExpoArabicMedium';
    src: url('../font/Expo Arabic Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* ####### */

* {
    margin: 0%;
    padding: 0%;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'ExpoArabicMedium', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
}


body {
    background-color: #f6f6f6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 20px;
}

/* wheel-container */

.wheel-container {
    width: 500px;
    aspect-ratio: 1/1;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 3px #0000001c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wheel-container .nail {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 40px;
    background-color: rgb(0, 17, 255);
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    z-index: 3;

}

.wheel-container .wheel {
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: conic-gradient(#429FAF 0% 16.67%,
            /* أزرق سماوي */
            #A1D4E6 16.67% 33.33%,
            /* أزرق فاتح */
            #4CAF50 33.33% 50%,
            /* أخضر زاهي */
            #FFC107 50% 66.67%,
            /* أصفر مشرق */
            #FF5722 66.67% 83.33%,
            /* برتقالي دافئ */
            #9C27B0 83.33% 100%
            /* بنفسجي فاتح */
        );
    display: flex;
}

.wheel-container .spin-btn {
    background-color: #fff;
    width: 35%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 3px #0000001c;
    color: #429FAF;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    position: absolute;
    top: calc((100% - 35%) / 2);
    left: calc((100% - 35%) / 2);
}

.wheel-container .spin-btn span {
    display: block;
}

.wheel-container .spin-btn .spin-action {
    color: #FFC107;
    font-size: 18px;
}

.wheel-container .spin-btn .spin-reward {
    color: #429FAF;
    font-size: 14px;
    font-style: italic;
}

.wheel-container .spin-btn:hover {
    background-color: #f6f6f6;
    transform: scale(1.02);
}

.wheel-container .spin-btn:active {
    transform: scale(0.95);
}

.wheel-container .wheel .offers {
    position: relative;
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: auto;
    rotate: 30deg;
}

/* تحديد مواضع العروض داخل السدسات */
.wheel-container .wheel .offers .offer {
    position: absolute;
    border: solid;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    border-radius: 50%;
    text-align: center;

}

/* توزيع العروض على أطراف العجلة */
.wheel-container .wheel .offers .offer-1 {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.wheel-container .wheel .offers .offer-2 {
    top: 24%;
    right: 6%;
}

.wheel-container .wheel .offers .offer-3 {
    top: 74.5%;
    right: 6%;
}

.wheel-container .wheel .offers .offer-4 {
    bottom: 0%;
    left: 50%;
}

.wheel-container .wheel .offers .offer-5 {
    top: 74.5%;
    left: 6%;
}

.wheel-container .wheel .offers .offer-6 {
    top: 24%;
    left: 6%;
}

/* ############## */

.wheel-container .wheel .offers .offer .child {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
}

.wheel-container .wheel .offers .offer .child img {
    width: 90%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wheel-container .wheel .offers .offer .child p {
    color: #fff;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0px 0px 10px #000000a2;
    text-align: center;
}

/* ######## */

.welcome {
    color: #429FAF;
    font-weight: bold;
    font-size: 24px;
    animation: changeColor 1s infinite alternate;
    text-align: center;
}

/* تعريف الأنميشن */
@keyframes changeColor {
    0% {
        color: #429FAF;
        /* اللون الأزرق السماوي */
    }

    50% {
        color: #FF5722;
        /* اللون البرتقالي */
    }

    100% {
        color: #4CAF50;
        /* اللون الأصفر */
    }
}


/* #################### */

.form-container {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #00000067;
    z-index: 5;
    direction: rtl;
    backdrop-filter: blur(3px);
    display: none;
}

.form-container .form-father {
    margin: auto;
    display: flex;
    width: 800px;
    background-color: #f6f6f6;
    box-shadow: 0px 0px 6px 3px #0000001c;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.details-box {
    width: 50%;
    padding: 20px;
}

.details-box img {
    width: 150px;
    height: 110px;
    object-fit: cover;
    display: block;
    margin: 0% auto;
}

.details-box p {
    margin: 0% auto;
    text-align: center;
    width: 90%;
    color: #444;
    margin-bottom: 10px;
}

.details-box p:nth-child(2) {
    font-size: 14px;
    color: #30727e;
}

.details-box .links {
    margin: 0px auto;
    width: fit-content;
    display: flex;
    gap: 5px;
}

.details-box .links a {
    color: #429FAF;
    border: solid 2px #429FAF;
    width: 32px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.details-box .links a:hover {
    background-color: #429FAF;
    color: #fff;
}

.form-container form {
    background-color: #429FAF;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.form-container form h1 {
    font-size: 27px;
    font-weight: normal;
    color: #f6f6f6;
    margin-bottom: 20px;
}

.form-container form .quiz {
    width: 83%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container form .quiz input {
    width: 100%;
    display: block;
    margin: 0px auto;
    height: 35px;
    border-radius: 3px;
    background-color: #f6f6f6;
    box-shadow: 0px 0px 6px 3px #00000010;
    padding: 0px 10px;
}

.form-container form .quiz select {
    width: 100%;
    display: block;
    margin: auto;
    height: 35px;
    border-radius: 3px;
    background-color: #f6f6f6;
    box-shadow: 0px 0px 6px 3px #00000010;
    padding: 0px 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-container form .quiz select option {
    padding: 10px;
}

.form-container form .quiz .select-container {
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    box-shadow: 0px 0px 6px 3px #00000010;

}

.form-container form .quiz .select-container .float-btn {
    position: absolute;
    top: 50%;
    left: 3%;
    font-size: 14px;
    transform: translateY(-50%);
    background-color: transparent;
}

.form-container form .quiz .next-btn,
.form-container form .quiz .send-btn {
    width: fit-content;
    padding: 10px 25px;
    background-color: #30727e;
    color: #fff;
    border-radius: 3px;
    margin: 0px auto;
    margin-top: 10px;
    width: 100%;
}

.form-container form .quiz .next-btn:hover,
.form-container form .quiz .send-btn:hover {
    background-color: #afe2eb;
    color: #000;
    cursor: pointer;
    box-shadow: 0px 0px 6px 3px #00000010;
}

.form-container .first-done .quiz-1 input,
.form-container .first-done .quiz-1 .select-container,
.form-container .first-done .quiz-1 .next-btn {
    transform: translateX(-105%);
}

.form-container .first-done .quiz>* {
    transition: .4s ease;
}

/* ###### */

.form-container .quiz-1 {
    position: relative;
    transition: .4s;
    height: 60%;
    justify-content: center;
}

.form-container .quiz-1 .quiz-2 {
    position: absolute;
    left: 111.5%;
    top: 0%;
    height: 100%;
    width: 100%;
}

.form-container .quiz-1 .quiz-2 h2 {
    color: #f6f6f6;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}


.form-container .quiz-1 .quiz-2 .choose-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.form-container .quiz-1 .quiz-2 .choose-box .item {
    width: calc((100% - 20px) / 3);
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.form-container .quiz-1 .quiz-2 .choose-box .item::after {
    content: " ";
    background-color: #00000052;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.form-container .quiz-1 .quiz-2 .choose-box .item img {
    width: 100%;
    height: 60px;
    display: block;
    object-fit: cover;
}

.form-container .quiz-1 .quiz-2 .choose-box .item p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2%;
    color: #f6f6f6;
    text-shadow: 0px 0px 10px #000000be, 0px 0px 10px #000000be;
    z-index: 2;
    font-size: 13px;
}

.form-container .quiz-1 .quiz-2 .choose-box .item label {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 4;
    cursor: pointer;
    overflow: hidden;
}

/* ####### */

.form-container .quiz-1 .quiz-2 .choose-box .item label::after {
    content: " ";
    position: absolute;
    top: 7%;
    right: 7%;
    width: 8px;
    aspect-ratio: 1/1;
    border: solid 2px #fff;
    border-radius: 50%;
}

.form-container .quiz-1 .quiz-2 .choose-box .item label input[type="checkbox"] {
    position: absolute;
    left: 300%;
    top: 300%;
}

.form-container .quiz-1 .quiz-2 .choose-box .item label:has(input[type="checkbox"]:checked)::after {
    background-color: #f6f6f6;
    border: solid 2px #f6f6f6;
}




.error {
    height: 40px;
    border-radius: 0.375rem;
    font-size: .9rem;
    display: block;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    display: none;
    line-height: 40px;
    text-align: center;
}

/* #################3 */

.cobon {
    width: 400px;
    border-radius: 5px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 44;
    box-shadow: 0px 10px 20px #00000080;
    display: none;
}

.cobon img {
    width: 100%;
    display: block;
}


.cobon-information {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 2%;
}

.cobon-information p {
    background-color: #222;
    color: #f6f6f6;
    padding: 3px 13px;
    font-size: 13px;
    border-radius: 3px;
}


/* #########################3 */

@media (min-width:0px) and (max-width:600px) {
    .wheel-container {
        width: 320px;
    }

    .wheel-container .spin-btn {
        width: 28%;
        top: calc((100% - 28%) / 2);
        left: calc((100% - 28%) / 2);
    }

    .wheel-container .spin-btn .spin-action {
        font-size: 12px;
    }

    .wheel-container .spin-btn .spin-reward {
        font-size: 9px;
    }

    .wheel-container .wheel .offers .offer .child p {
        font-size: 10px;
    }

    .wheel-container .wheel .offers .offer .child {
        width: 50px;
        height: 50px;
    }

    .form-container .form-father {
        flex-direction: column;
        width: 90%;
        height: auto;
    }

    .form-container .form-father>* {
        width: 100% !important;
    }

    .form-container form {
        padding: 20px 0px;
    }

    .form-container .quiz-1 {
        height: 220px;
    }

    .details-box .links {
        display: none;
    }

    .welcome {
        width: 90%;
    }

    .details-box p:nth-child(3) {
        font-size: 14px;
        margin-bottom: 0%;
    }

    .cobon {
        width: 85%;
    }

    .cobon-information p{
        font-size: 12px;
    }
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}